<! DOCTYPE html>
<html>
<head>
	<title> Assignment 2 </title>
</head>
<body>
	<h2> Here are 5 More Images </h2>

	<br>

<!-- remaining 5 images -->

<!-- pic 1 -->

	<figure>
	<img src= "../images/matchateaset.jpeg" width="500px" height="400px"
	alt= "Tea set: matcha in cup, bamboo whisk and boards">
	<figcaption> I love anything green tea or matcha flavored. </figcaption>
	</figure>

	<br>

<!-- pic 2 -->	

	<figure>
	<img src="../images/kettlepouringtea.jpeg" width="500px" height="400px"
	alt= "Chinese tea set. Gold kettle pouring hot water into cup of tea leaves">
	<figcaption> I love tea with or without milk, in tea leaf of tea bag form. </figcaption> 	
	</figure>

	<br>

<!-- pic 3 -->	

	<figure>
	<img src= "../images/clementine.jpeg" width="500px" height="400px"
	alt= "Clementines growing on a tree">
	<figcaption> I love fruit! My favorites would be clementines, watermelons, strawberries, blueberries, peaches, mangoes... </figcaption>
	</figure>

	<br>

<!-- pic 4 -->	
	
	<figure> 
	<img src= "../images/cat.jpeg" width="500px" height="400px"
	alt= "A side profile of a gray cat">
	<figcaption> I'm currently catsitting a cat that looks similar to the one in the picture. So cute! </figcaption>	
	</figure>

	<br>	

<!-- pic 5 -->	

	<figure>
	<img src= "../images/succulent.jpeg" width="500px" height="400px"	
	alt= "A succulent in a pot">
	<figcaption> I like succulents because they're easy to take of. </figcaption>
	</figure>

	<br>	
	<a href="../index.html"> Back to Home Page </a>

	<br>
	<br>
	<br>
	<br>

</body>
</html>